<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
{{>FrontEnd/headerLink}}
</head>

<body>
{{>FrontEnd/navbar}}

  <!-- partial-->
  <div class="sigma_subheader dark-overlay dark-overlay-2" style="background-image: url(assets/img/subheader.jpg)">

    <div class="container">
      <div class="sigma_subheader-inner">
        <div class="sigma_subheader-text">
          <h1>Puja</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn-link" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Puja</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
  <!-- partial -->

  <!-- Categories Start -->
  <div class="section section-padding">
    <div class="container">

      <div class="text-center filter-items">
        <h5 class="active portfolio-trigger" data-filter="*">All</h5>
        {{#each categoryPujaData as |data|}}
        <h5 class="portfolio-trigger" data-filter=".{{data.id}}">{{data.category_name}}</h5>
        {{/each}}
      </div>

      <div class="portfolio-filter row">
        {{#each galleryPujadata as |data|}}
        <div class="col-lg-4 {{data.category_id}}">
          <div class="sigma_portfolio-item">
            <img src="assets/img/puja/{{data.image}}" alt="portfolio">
            <div class="sigma_portfolio-item-content">
              <div class="sigma_portfolio-item-content-inner">
                <h5> <a href="puja-details"> {{data.title}} </a> </h5>
                <p>{{data.description}}</p>
              </div>
              <a href="puja-details"><i class="fal fa-plus"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>
  <!-- Categories End -->

  <!-- Form Start -->
  <div class="section dark-overlay dark-overlay-3 bg-cover bg-center bg-norepeat" style="background-image: url(assets/img/bg1.jpg)">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-lg-30">
          <form method="post">
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="First Name" name="fname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-user"></i>
                  <input type="text" class="form-control transparent" placeholder="Last Name" name="lname" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-pencil"></i>
                  <input type="text" class="form-control transparent" placeholder="Subject" name="subject" value="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <i class="far fa-envelope"></i>
                  <input type="text" class="form-control transparent" placeholder="Email Address" name="email" value="">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea name="message" class="form-control transparent" placeholder="Enter Message" rows="4"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="sigma_btn-custom d-block w-100" name="button"> Get a Quote <i class="far fa-arrow-right"></i> </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/1.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/2.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/3.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/4.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/5.png" alt="client">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sigma_client">
                <img src="assets/img/clients/6.png" alt="client">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->

  <!-- Blog Start -->
  <div class="section section-padding">
    <div class="container">

      <div class="section-title text-center">
        <p class="subtitle">Blog</p>
        <h4 class="title">News Feed</h4>
      </div>

      <div class="row">

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/2.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/1.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/1.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/2.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

        <!-- Article Start -->
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post">
            <div class="sigma_post-thumb">
              <a href="blog-details">
                <img src="assets/img/blog/3.jpg" alt="post">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-meta">
                <div class="me-3">
                  <i class="fas fa-om"></i>
                  <a href="blog-details" class="sigma_post-category">Temple</a>,
                  <a href="blog-details" class="sigma_post-category">Love</a>
                </div>
                <a href="blog-details" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20, 2022</a>
              </div>
              <h5> <a href="blog-details">Education for all rural children are necessary.</a> </h5>
              <div class="sigma_post-single-author">
                <img src="assets/img/people/1.jpg" alt="author">
                <div class="sigma_post-single-author-content">
                  By <p>Yesh Chopra</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Article End -->

      </div>

    </div>
  </div>
  <!-- Blog End -->

  {{>FrontEnd/footer}}
  {{>FrontEnd/footerLink}}
</body>
</html>
