 <!-- partial -->
  <footer class="sigma_footer footer-2 sigma_footer-dark">

    <!-- Middle Footer -->
    <div class="sigma_footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer-widget">
            <h5 class="widget-title">About Us</h5>
            <p class="mb-4">You need to be sure there isn’t anything embarrassing hidden in the middle of text. </p>
            <div class="d-flex align-items-center justify-content-md-start justify-content-center">
              <i class="far fa-phone custom-primary me-3"></i>
              <span>{{webDetail.[0].mobile_no}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-md-start justify-content-center mt-2">
              <i class="far fa-envelope custom-primary me-3"></i>
              <span>{{webDetail.[0].email}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-md-start justify-content-center mt-2">
              <i class="far fa-map-marker custom-primary me-3"></i>
              <span>{{webDetail.[0].address}}</span>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 footer-widget">
            <h5 class="widget-title">Information</h5>
            <ul>
              <li> <a href="faq">FAQ</a> </li>
              <li> <a href="blog">Blog</a> </li>
              <li> <a href="about-us">About</a> </li>
              <li> <a href="service">Service</a> </li>
              <li> <a href="contact">Contact</a> </li>
              <li> <a href="image">Image Gallery</a> </li>
              <li> <a href="video">Video Gallery</a> </li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 footer-widget">
            {{!-- <h5 class="widget-title">Others</h5>
            <ul>
              <li> <a href="shop.html">Shop</a> </li>
              <li> <a href="checkout.html">Checkout</a> </li>
              <li> <a href="donation-archive.html">Donation</a> </li>
              <li> <a href="contact-us.html">Contact Us</a> </li>
              <li> <a href="blog-grid.html">Blog</a> </li>
            </ul> --}}
          </div>
          <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 d-none d-lg-block footer-widget widget-recent-posts">
            <h5 class="widget-title">Recent Posts</h5>
              {{#each blogData as |data|}}
                <article class="sigma_recent-post">
                  <a href="blog-details"><img src="uploads/blog/{{data.image}}" alt="post"></a>
                  <div class="sigma_recent-post-body">
                    <a href="blog-details"> <i class="far fa-calendar"></i> {{data.dateOfBlog}}</a>
                    <h6> <a href="blog-details">{{data.title}}</a> </h6>
                  </div>
                </article>
              {{/each}}

            {{!-- <article class="sigma_recent-post">
              <a href="blog-details"><img src="assets/img/blog/sm/2.jpg" alt="post"></a>
              <div class="sigma_recent-post-body">
                <a href="blog-details"> <i class="far fa-calendar"></i> May 20, 2022</a>
                <h6> <a href="blog-details">Testimony love offering so blessed</a> </h6>
              </div>
            </article>
            <article class="sigma_recent-post">
              <a href="blog-details"><img src="assets/img/blog/sm/3.jpg" alt="post"></a>
              <div class="sigma_recent-post-body">
                <a href="blog-details"> <i class="far fa-calendar"></i> May 20, 2022</a>
                <h6> <a href="blog-details">As we've all discovered by now, the world can change</a> </h6>
              </div>
            </article> --}}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    {{!-- <div class="sigma_footer-bottom">
      <div class="container-fluid">
        <div class="sigma_footer-copyright">
          <p> Copyright © Maharatri - <a href="#" class="text-white">2022</a> </p>
        </div>
        <div class="sigma_footer-logo">
          <img src="assets/img/footerlogo.png" alt="logo">
        </div>
        <ul class="sigma_sm square">
          <li>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> --}}

  </footer>
  <!-- partial -->